* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EDF2F6;
  font-family: 'Roboto', sans-serif;
  height: 1500px;
  width: 100%;
}

.page-header {
  background-color: #ffffff;
  height: 18%;
  width: 100%;
}

.search-bar {
  align-items: center;
  border: 3px solid #F6F6F6;
  display: flex;
  height: 30.5%;
  justify-content: stretch;
  width: 86%;
}

.dropdown-icon {
  height: 40px;
  margin-left: 10px;
  padding-left: 15px;
  width: 40px;
}

.search-input {
  background-image: url("assets/magnifying-glass-icon.svg");
  background-origin: left;
  background-position: 20px;
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  border-left: 3px solid #F6F6F6;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
  margin-left: 33px;
  padding-left: 10px;
  opacity: .5;
  text-indent: 53px;
  width: 70%;
}

.search-input:focus {
  outline: none;
}

.search-input::-webkit-input-placeholder {
  padding-left: 5px;
}

.dropdown-div,
.friend-div,
.movie-div,
.dots-div {
  align-items: center;
  border-left: 3px solid #F6F6F6;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 9.5%;
}

.friend-icon {
  height: 100%;
  width: 30px;
}

.movie-icon {
  height: 100%;
  width: 30px;
}

.dots-icon {
  height: 100%;
  width: 30px;
}

.dots-icon:hover,
.friend-icon:hover,
.movie-icon:hover {
  -webkit-filter: invert(100%);
}

.dots-div:hover,
.movie-div:hover,
.friend-div:hover {
  background-color: #14A5FB;
}

.title-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 69.5%;
  float: right;
  justify-content: flex-start;
  width: 86%;
}

.title-left-side {
  display: inline-block;
  height: 80%;
  padding-left: 40px;
  padding-top: 50px;
  width: 50%;
}

.title-right-side {
  align-items: center;
  display: inline-flex;
  height: 80%;
  justify-content: flex-end;
  width: 49%;
}

.open-button {
  background-color: inherit;
  border: 2px solid lightgray;
  box-shadow: none;
  border-radius: 25px;
  font-size: 12px;
  height: 45px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: -5px;
  padding-top: 5px;
  width: 90px;
}

.green-circle {
  background: #8CC94A;
  border-radius: 50px;
  display: inline-block;
	height: 10px;
  margin-left: -5px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
  width: 10px;
}

.title-icon {
  border: 1px solid lightgray;
  border-radius: 50%;
  height: 45px;
  margin: 10px;
  padding: 13px;
  width: 45px;
}

.title-icon:hover,
.open-button:hover {
  background-color: #DCE7EA;
}

.title-text {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

.location-text {
  display: inline-block;
}

.pin-icon {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.preview-link {
  color: #94DEF0;
  margin-left: 2px;
}

.location-text,
.preview-link {
  margin-top: 10px;
}

.preview-link:hover {
  color: orange;
}

.tab-div {
  display: flex;
  height: 20%;
  justify-content: space-around;
  margin-right: 100px;
  width: 80%;
}

.tab {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.tab:hover {
  border-bottom: 3px solid #3DAFEF;
  color: #3DAFEF;
  cursor: pointer;
}

.summary {
  border-bottom: 3px solid #3DAFEF;
  font-weight: bold;
}

.sidebar {
  align-items: center;
  background-color: #354052;
  color: white;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100%;
  justify-content: flex-start;
  width: 14%;
}

.profile-pic {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;
}

.griffin {
  border-radius: 50%;
  height: 80px;
  margin-top: 30px;
  width: 80px;
}

.griffin-label {
  font-size: 15px;
  margin-top: 10px;
}

.down-arrow {
  height:10px;
  margin-left: 5px;
  -webkit-filter: invert(100%);
  width: 10px;
}

.main-table-div {
  border-bottom: 1px solid black;
  margin-right: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.main-table-div,
.admin-table-div,
.categories-table-div {
  display: flex;
  height: 20%;
  justify-content: flex-start;
}

.main-table,
.admin-table,
.categories-table {
  height: 90%;
}

.main-table {
  color: white;
  margin-top: 20px;
  width: 60%;
}

.table-header {
  font-size: 10px;
  opacity: .5;
  padding-bottom: 10px;
}

.table-label {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.table-icon {
  height: 15px;
  width: 15px;
  -webkit-filter: invert(100%);
}

.admin-table tr:hover,
.main-table tr:hover,
.categories-table tr:hover {
  background-color: #30394A;
  cursor: pointer;
}

.admin-table-div {
  border-bottom: 1px solid black;
  margin-right: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.admin-table {
  margin-top: 20px;
  width: 60%;
}

.categories-table-div {
  display: flex;
  margin-right: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.categories-table {
  margin-top: 20px;
  width: 95%;
}
.categories-table-header {
  padding-right: 60px;
}

.categories-dropdown {
  display: none;
  height: 10px;
  -webkit-filter: invert(100%);
  width: 10px;
}

.category {
  -webkit-appearance: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 5px;
	display: inline-block;
  margin-right: 10px;
	position: relative;
}

.category:checked:after {
  color: black;
	content: '\2714';
  font-size: 6px;
	position: absolute;
	top: 2px;
	left: 2px;
}

.administrative-box {
  background-color: #F1E40C;
}

.design-box {
  background-color: #2EADFA;
}

.executive-box {
  background-color: #E81C62;
}

.human-resources-box {
  background-color: #00AB88;
}

.category-row {
  font-size: 12px;
}

.administrative-box {
  color: #FAD803;
}

.main-content {
  background-color: #EDF2F6;
  display: flex;
  flex-wrap: wrap;
  height: 82%;
  justify-content: space-around;
  width: 86%;
}

.graph-section {
  align-items: center;
  background-color: #EDF2F6;
  border-bottom: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 28.5%;
  justify-content: flex-start;
  margin-right: 75px;
  margin-top: 20px;
  width: 85%;
}

.graph-left-side {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  padding-right: 150px;
  width: 78%;
}

.circle-graphic {
  align-items: center;
  border: 12px solid gray;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 150px;
}

.circle-graphic-number {
  font-size: 40px;
}

.applicant-graphic {
  border-color: #4EB8BF #DBE4EB #4EB8BF #4EB8BF ;
}

.interview-graphic {
  border-color: #DBE4EB #DBE4EB #169FF8 #169FF8;
}

.forward-graphic {
  border-color: #DBE4EB #DBE4EB #AB67B4 #DBE4EB;
}

.totals-button {
  background-color: #F8F8F9;
  border: 2px solid lightgray;
  border-radius: 25px;
  display: block;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  width: 240px;
}

.applicants-per-day-button {
  background-color: #F8F8F9;
  border: 2px solid lightgray;
  border-radius: 25px;
  display: block;
  height: 40px;
  margin-top: -80px;
  width: 240px;
}

.applicants-per-day-button:hover,
.totals-button:hover {
  background-color: #DCE7EA;
}

.applicants-per-day-button:focus,
.totals-button:focus {
  outline: none;
}

.graph-right-side {
  align-items: center;
  background-color: inherit;
  border-bottom: 1px solid black;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin-bottom: 9px;
  margin-top: 10px;
  width: 22%;
}

.bar-graph {
  background-color: #B14740;
  height: 150px;
  margin-bottom: 100px;
  -webkit-filter: invert(100%);
  width: 350px;
}

.job-section {
  background-color: #ffffff;
  height: 62.5%;
  width: 61.5%;
}

.job-table {
  border-collapse: collapse;
  font-size: 12px;
  height: 100%;
  width: 100%;
}

.job-table th {
  background-color: #6F7E95;
  color: white;
  width: 130px;
}

.job-table td {
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  padding-left: 30px;
}

.last-row td {
  border-bottom: none;
}

.edit-button {
  background-color: #7E8DAA;
  border: none;
  color: white;
  height: 30px;
  margin-right: 375px;
  width: 80px;
}

.edit-button:hover {
  background-color: #DCE7EA;
}

.table-edit-icon {
  background-color: none;
  height: 15px;
  margin-right: 2px;
  -webkit-filter: invert(100%);
  width: 15px;
}

.lebron-row {
  align-items: center;
  display: flex;
  height: 100%;
}

.lebron {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.social-section {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  height: 62.5%;
  width: 26%;
}

.social {
  margin-top: 10px;
  margin-bottom: 10px;
}

.facebook {
  align-items: center;
  background-color: #4A6FC1;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
}

.social-icon {
  height: 15px;
  margin-left: 20px;
  -webkit-filter: invert(100%);
  width: 15px;
}

.facebook-text {
  margin: auto;
  padding-right: 30px;
}

.twitter {
  align-items: center;
  background-color: #01AAEF;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
}

.twitter-text {
  margin: auto;
  padding-right: 30px;
}

.linkedin {
  align-items: center;
  background-color: #0482BD;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
}

.linkedin-text {
  margin: auto;
  padding-right: 30px;
}

.share-card {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.link-job,
.use-widget,
.upload-resume {
  font-size: 18px;
  margin-bottom: 8px;
  padding-right: -5px;
}

.use-widget,
.upload-resume {
  border-top: 2px solid lightgray;
  padding-top: 15px;
}

.globe-icon,
.widget-icon,
.cursor-icon {
  height: 15px;
  margin-right: 10px;
  width: 15px;
}

.link-job-blurb,
.use-widget-blurb,
.upload-resume-blurb {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
}

.link-job-input,
.use-widget-input,
.upload-resume-input {
  border: none;
  border-bottom: 2px solid #F6F6F6;
  height: 40px;
  text-indent: 10px;
  width: 75%;
}

.upload-resume-input {
  width: 100%;
}

.link-job-button,
.use-widget-button {
  background-color: #4EB8BF;
  border: none;
  color: white;
  height: 40px;
  width: 25%;
}

@media screen and (max-width: 1160px) {
  .title-text {
    font-size: 24px;
  }

  .preview-link,
  .location-text {
    font-size: 12px;
  }

  .tab {
    font-size: 13px;
  }

  .circle-graphic {
    height: 110px;
    width: 110px;
  }

  .circle-graphic-number {
    font-size: 28px;
  }

  .circle-graphic-label {
    font-size: 12px;
  }

  .edit-button {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1000px) {
  .griffin-label {
    font-size: 12px;
  }

  aside .down-arrow {
    height: 6px;
    width: 6px;
  }

  aside .table-label {
    display: none;
  }

  aside .table-icon {
    height: 30px;
    margin-left: 20px;
    width: 30px;
  }

  .admin-table-header,
  .main-table-header {
    padding-left: 20px;
  }

  .category-row {
    font-size: 8px;
  }

  .graph-left-side {
    width: 84%;
  }

  .graph-right-side {
    width: 15%;
  }

  .bar-graph {
    width: 250px;
  }
}

@media screen and (max-width: 890px) {

  .title-div {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .title-left-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .title-right-side {
    height: 50%;
  }

  .title-text {
    align-self: center;
    font-size: 40px;
    margin-left: 10px;
    width: 100%;
  }

  .location-text,
  .preview-link {
    display: inline-block;
  }

  .preview-link {
    margin-bottom: 40px;
  }

  .tab {
    display: none;
  }

  .graph-right-side {
    display:none;
  }

  .graph-section {
    width: 100%;
  }

  .graph-left-side {
    width: 100%;
  }

  .circle-graphic {
    height: 125px;
    width: 125px;
  }

  .griffin {
    height: 50px;
    width: 50px;
  }

  .griffin-label {
    font-size: 10px;
  }



}


/*.search-input {
  display: none;
}

.dots-div,
.movie-div,
.friend-div {
  display: none;
}*/
